<div class="flex flex-col md:hidden text-white px-2">
  <div class="text-sm text-gray-500">
    Categories
  </div>
  <div class="flex justify-between rounded text-4xl">
    <div class="rounded-lg bg-blue-500 w-1/4 flex flex-col items-center p-2 m-1" id="<%= path === '/account' ? 'current': '' %>">
      <i class="fas fa-globe-asia"></i>
      <span class="text-sm">All</span>
    </div>
    <div class="rounded-lg bg-blue-500 w-1/4 flex flex-col items-center p-2 m-1" id="<%= path === '/account' ? 'current': '' %>">
      <i class="fas fa-tv"></i>
      <span class="text-sm">Electronics</span>
    </div>
    <div class="rounded-lg bg-blue-500 w-1/4 flex flex-col items-center p-2 m-1" id="<%= path === '/account' ? 'current': '' %>">
      <i class="fas fa-laptop"></i>
      <span class="text-sm">Computers</span>
    </div>
    <div class="rounded-lg bg-blue-500 w-1/4 flex flex-col items-center p-2 m-1" id="<%= path === '/account' ? 'current': '' %>">
      <i class="fas fa-mobile-alt"></i>
      <span class="text-sm">Mobiles</span>
    </div>
  </div>
</div>