<script>
  function openNav() {
    document.getElementById("sidenav").style.width = "75%";
  }
  
  function closeNav() {
    document.getElementById("sidenav").style.width = "0";
  }

  function openDashboard(){
    document.getElementById("dashboard-items").style.height = "100%";
  }

  function closeDashboard() {
    document.getElementById("dashboard-items").style.height = "0";
  }
</script>
</body>
</html>