<script>
  function openNav() {
    document.getElementById("sidenav").style.width = "75%";
  }
  
  function closeNav() {
    document.getElementById("sidenav").style.width = "0";
  }

  // document.addEventListener('click', (e) => {
  //   const sidenav = document.getElementById('sidenav');
  //   console.log(e);
  //   // if sidenav width is not 75% return else add click event
  //   // if( '' && sidenav.style.width !== "0"){
  //   //   sidenav.style.width = "0";
  //   // }
  // });
</script>
</body>
</html>