<div id="sidenav" class="flex flex-col md:hidden border h-screen w-0 fixed z-1 top-0 left-0 bg-white overflow-hidden">
  <div class="flex justify-between border">
    <div class="border flex">
      Some user information
    </div>
    <i onclick="closeNav()" class="far fa-times-circle text-4xl text-blue-500 py-3"></i>
  </div>
  <a class="border border-red text-2xl px-2" href="/">Home</a>
  <a class="border border-red text-2xl px-2" href="/login">Login</a>
  <a class="border border-red text-2xl px-2" href="/signup">Signup</a>
  <a class="border border-red text-2xl px-2" href="#">Settings</a>
  <a class="border border-red text-2xl px-2" href="#">Random</a>
  <a class="border border-red text-2xl px-2" href="#">Random</a>
  <a class="border border-red text-2xl px-2" href="#">Random</a>
</div>