<div class="products">
  <div class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      src="/img/products/iphone.jpeg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Iphone ~ $300
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img
      class="card-img-top"
      src="/img/products/iphone.jpeg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Iphone ~ $300
      </p>
    </div>
  </div>
</div>
